<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytonline.examservice.mapper.ExamExamMapper">

    <select id="getByExamId" resultType="com.ytonline.examservice.entity.ExamExam">
        select * from exam_paper where id =(select paper_id from exam_exam_paper where exam_id = #{id})
    </select>
</mapper>
