<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytonline.examservice.mapper.ExamQuestionMapper">

    <select id="getPaperQuestion" resultType="com.ytonline.examservice.entity.ExamQuestion">
        select * from exam_question where id in (select question_id from exam_paper_question where paper_id = #{id})
    </select>
</mapper>
